<!-- Hero Section -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Explore the World Through Our Stories</h1>
      <p class="lead">Embark on a journey of discovery and adventure with our captivating travel stories.</p>
      <%= link_to "Learn More", about_path, class: "btn btn-primary" %>
    </div>
  </div>
  
  <section class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="https://images.unsplash.com/photo-1463693396721-8ca0cfa2b3b5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80" class="card-img-top img-fluid" %>
          <div class="card-body">
            <h5 class="card-title">Adventure in the Wilderness</h5>
            <p class="card-text">Join us as we explore the untouched beauty of the wilderness.</p>
            <a href="#" class="btn btn-primary">Read Story</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://images.unsplash.com/photo-1513415756790-2ac1db1297d0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80" class="card-img-top img-fluid" %>
          <div class="card-body">
            <h5 class="card-title">Hidden Gems of Asia</h5>
            <p class="card-text">Uncover the hidden treasures and vibrant cultures of Asia.</p>
            <a href="#" class="btn btn-primary">Read Story</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://delveintoeurope.com/wp-content/uploads/2023/04/best-sunsets-in-europe-arc-de-triomphe-paris.jpg" class="card-img-top img-fluid" %>
          <div class="card-body">
            <h5 class="card-title">Chasing Sunsets in Europe</h5>
            <p class="card-text">Witness breathtaking sunsets while exploring the charm of Europe.</p>
            <a href="#" class="btn btn-primary">Read Story</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  