<!-- Hero Section -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h1 class="display-4">Explore the World Through Our Stories</h1>
      <p class="lead">Embark on a journey of discovery and adventure with our captivating travel stories.</p>
      <%= link_to "Learn More", about_path, class: "btn btn-primary" %>
  </div>
</div>

<section class="container my-5">
  <div class="row">
      <div class="col-md-4 mb-4">
          <div class="card">
              <%= image_tag "bg.jpeg", class: "card-img-top" %>
              <div class="card-body">
                  <h5 class="card-title">Adventure in the Wilderness</h5>
                  <p class="card-text">Join us as we explore the untouched beauty of the wilderness.</p>
                  <a href="#" class="btn btn-primary">Read Story</a>
              </div>
          </div>
      </div>
      <div class="col-md-4 mb-4">
          <div class="card">
              <%= image_tag "bg.jpeg", class: "card-img-top" %>
              <div class="card-body">
                  <h5 class="card-title">Hidden Gems of Asia</h5>
                  <p class="card-text">Uncover the hidden treasures and vibrant cultures of Asia.</p>
                  <a href="#" class="btn btn-primary">Read Story</a>
              </div>
          </div>
      </div>
      <div class="col-md-4 mb-4">
          <div class="card">
              <%= image_tag "bg.jpeg", class: "card-img-top" %>
              <div class="card-body">
                  <h5 class="card-title">Chasing Sunsets in Europe</h5>
                  <p class="card-text">Witness breathtaking sunsets while exploring the charm of Europe.</p>
                  <a href="#" class="btn btn-primary">Read Story</a>
              </div>
          </div>
      </div>
  </div>
</section>