<section class="container my-5">
    <div class="jumbotron">
        <h1 class="display-4">Thank You!</h1>
        <p class="lead">Your message has been received. We'll get back to you soon.</p>
        <hr class="my-4">
        <p><a href="<%= root_path %>" class="btn btn-primary btn-lg">Go back to Home</a></p>
    </div>
</section>